<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    {% load static %}
</head>
<body>
    <div class="container">
        <h1>Upload Image</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="upload">Upload</button>
            <button type="submit" name="clear">Clear Data</button>
        </form>

        <br>

        {% if processed_data %}
            <h2>Processed Data:</h2>
            <ul>
                {% for key, value in processed_data.items %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>

            <br>

            {% if potential is not None %}
                <h2>Potential: {{ potential }}</h2>
            {% endif %}
        {% endif %}

        <br>

        {% if average_data %}
            <h2>Average Data from All Images:</h2>
            <ul>
                {% for key, value in average_data.items %}
                    <li><strong>{{ key }}:</strong> {{ value|floatformat:"2" }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
